.profile__edit-button {
  margin-left: 18px;
  width: 24px;
  height: 24px;
  align-self: flex-end;
  position: relative;
  bottom: 9px;
  background: transparent url(../../../images/EditButton.svg) center no-repeat;
}

@media (max-width: 920px) {
  .profile__edit-button {
    bottom: 5px;
    width: 18px;
    height: 18px;
    background-size: 18px 18px;
  }
}

@media (max-width: 620px) {
  .profile__edit-button {
    margin-left: 10px;
  }
}