.card__image {
  border-radius: 10px 10px 0 0;
  border: 0;
  min-width: 282px;
  max-width: 282px;
  min-height: 282px;
  max-height: 282px;
  background: url(../../../images/NotAnImage.png) center no-repeat;
}